<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!--     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" /> -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- The navbar - The <a> elements are used to jump to a section in the scrollable area -->
    <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
      <div class="navbar-collapse collapse order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <li>Conference Schedule</li>
        </ul>
      </div>
      <div class="mx-auto order-0">
        <a id="myTitle" class="navbar-brand mx-auto" href="#"><h2>Riley Fest 2018</h2></a>
        <div id="alertBox" class="alert alert-warning" style="width:100%" onclick="clearSearch()"><a href="#" onclick="clearSearch()" class="alert-link">Clear Search Results</a> for "<span id="alertText"></span>" </div>
        
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li>
            <div class="form-group">
              <div class="btn-group btn-group-vertical btn-sm" data-toggle="buttons">
                <label class="btn btn-sm small" onclick="setSavedView(false)" style="border-top-left-radius:8px;border-top-right-radius:8px;">
                  <input type="radio" name="allOrSaved" id="showAllRadio" onclick="setSavedView(false)" checked="checked" ><span class="small">Show All</span>
                </label>
                <label class="btn btn-sm small" onclick="setSavedView(true)" style="border-bottom-left-radius:8px;border-bottom-right-radius:8px;">
                  <input type="radio" name="allOrSaved" id="savedOnlyRadio" onclick="setSavedView(true)" ><span class="small">Saved Only</span>
                </label>
              </div>
            </div>
          </li>
          <li>
            <div class="form-group">
              <div class="btn-group btn-group-vertical btn-sm" data-toggle="buttons">
                <label class="btn btn-sm small" onclick="setSimpleView(true)" style="border-top-left-radius:8px;border-top-right-radius:8px;">
                  <input type="radio" name="simpleOrDetailed" id="simpleRadio" onclick="setSimpleView(true)" checked="checked" ><span class="small">Simple</span>
                </label>
                <label class="btn btn-sm small" onclick="setSimpleView(false)" style="border-bottom-left-radius:8px;border-bottom-right-radius:8px;">
                  <input type="radio" name="simpleOrDetailed" id="detailedRadio" onclick="setSimpleView(false)"><span class="small">Detailed</span>
                </label>
              </div>
            </div>
<!--             <div class="form-group">
              <label onclick="sortBy()">
                <input id="select0"  type="checkbox" unchecked autocomplete="off"><span id="select0text" class="small">Simple Info</span>
              </label>
            </div> -->
          </li>
          <li>
            <div class="form-group">
              <label class="small">
                <span>Sort By</span>
                <select class="form-control" id="select1" onchange="sortBy()">
                  <option value="Session Time">Time</option>
                  <option value="Room Number">Room</option>
                  <option value="Class Title">Title</option>
  <!--                 <option value="Teacher">Sort by Teacher</option> -->
                  <option value="Session Category">Category</option>
                </select>
              </label>
            </div>
          </li>
          <li>
            <div class="form-group">
              <label class="small">
                <span>Search</span>
              
                <div class="input-group">
                  <input id="searchText" type="text" class="form-control" placeholder="Search" onchange="jsonSearch()">
                </div>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <header>
      
    </header>

    <main>
      <table id="excelDataTable" class="table">
      </table>
    </main>
    
    
    <!-- Login button -->
    
    <!-- Button to Open the Modal -->
<!--     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Log In
    </button> -->

    <!-- The Modal -->
<!--     <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content"> -->

          <!-- Modal Header -->
<!--           <div class="modal-header">
            <h4 class="modal-title">Log In</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <form action="/login"> -->
            
          
            <!-- Modal body -->
<!--             <div class="modal-body">

              <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd">
              </div>

            </div> -->

            <!-- Modal footer -->
<!--             <div class="modal-footer">
              <button type="submit" class="btn btn-danger" data-dismiss="modal">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    
    

<!--     <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

<!--     <!-- Your web-app is https, so your scripts need to be too -->
<!--     <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script> -->
    <script src="/client.js"></script>

  </body>
</html>
